.main{
    margin: 38px auto 0; /*Центрирование блока*/
    max-width: 1600px; /*Максимальная ширина при больших разрешениях*/
    min-width: 250px; /*Минимальная ширина при маленьких разрешениях*/
    width: auto; /*Ширина в зависимости от разрешения экрана*/
    }
@media (max-width: 424px) {
    .main {
        margin: 43px auto 0;
    }

}